* {box-sizing:border-box}
:root{
    --red:#DD0031;
    --darkRed: #ab051e;
    --grey: #7D7D7D;
}
body{
  background-color: var(--darkRed);
  background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
}
.my-nav-bar{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--darkRed);
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
    text-align: center;
  }
  
  .store-name {
    text-align: center;
  }
  .store-name a{
    color: white;
  }
  .nav-ul li{
    display: inline-block;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
  /* Styling li elments when hovering over them */
  li a:hover {
    background-color: #510611;
    text-decoration: none;
    color: white;

  }
  /* Hide the dropdown menu links by default */
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #280d11;
  }
  /* Show the dropdown menu links when hovering over a li element */
  li:hover .dropdown-content{
    display:block;
}
  .active{
    background-color: #510611;
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
  }
/*Hero Section*/
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/oviedo1.jpg");
    height: 80vh;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    color: #fff;
    text-align: center;
    padding-top:15rem;
}
.Footer{
  text-align: center;
  color: white;
  padding: 2rem;;
}

.logo{
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 2rem;
}
.navbar-brand{
    margin-right: 4rem;
}

.section{
    height: 30vh;
    width: 100%;

}

.section2{
    height: auto;
    width: 100%;
    background-color: #7D7D7D; 
}
.section-white{
  height: 30vh;
  width: 100%;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png")
}
.row{
  margin-bottom: 2rem;
}
.gallery image{
  width: 20rem; 
  height: 20rem; 
  object-fit: cover;
  border-radius: 5%;
}
/*Owner Page*/
.owner-section{
    text-align: center;
    width: 100%;
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
    background-color: white;
}
.image-crop{
    width: 30rem; 
    height: 30rem; 
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 5%;
    margin: 2rem; 
}
.paragraph{
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
}
.h1-text{
    color: #ab051e;
}

/* Employee Directory Page */
.employeeGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.EmployeeCard{
  border-radius: 1rem;
  background-color: black;
  background-image: linear-gradient(155deg, rgb(255, 255, 255), rgb(64, 66, 73, 1));
  box-shadow: 2px 2px 5px black;
  width: 20rem;
  height: 20rem;
  text-align: center;
  padding: 2rem;
  margin: auto;
  margin-bottom: 2rem;
  flex-basis: 15%;
}
.label{
  font-size: smaller;
  padding: 4px 8px;
  text-align: center;
  border-radius: .5rem;
  display: inline-block;
}
.label-1{
  background-color: rgb(16, 41, 154);
  color: white;
}
.label-2{
  color: white;
  background-color:#f9a03c;
}
.label-3{
  color: white;
  background-color:#ff6905;
}
.employee-pic{
  width: 200px;
  height: 10rem;
  object-fit: cover;
}
.social{
  display: flex;
  justify-content: center;
}
.social a{
  text-decoration: none;
  color: white;
}
.social-icons{
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* Path for Growth Page */
.growth-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.growthDiv{

}